/.idea/

/.vagrant/
/index.html
/Vagrantfile

# Magento 2.x
/app/etc/config.php
/app/etc/di.xml
/app/etc/env.php
/app/etc/NonComposerComponentRegistration.php
/app/etc/vendor_path.php
/app/.htaccess
/app/autoload.php
/app/bootstrap.php
/app/functions.php

/bin/
/dev/
/generated/

/lib/internal/Cm/
/lib/internal/Credis/
/lib/internal/LinLibertineFont/

/lib/web/css/
/lib/web/extjs/
/lib/web/fonts/
/lib/web/fotorama/
/lib/web/i18n/en_US.csv
/lib/web/images/bkg_gallery_thumbs.png
/lib/web/images/blank-theme-icons.png
/lib/web/images/cards.png
/lib/web/images/debug_bkg.png
/lib/web/images/loader-1.gif
/lib/web/images/loader-2.gif
/lib/web/images/logo.svg
/lib/web/images/magento-logo.svg
/lib/web/images/spacer.gif
/lib/web/images/sprite-gallery.png
/lib/web/images/sprite-gallery.svg
/lib/web/jquery/
/lib/web/knockoutjs/
/lib/web/less/
/lib/web/lib/ccard.js
/lib/web/lib/storage.js
/lib/web/mage/
/lib/web/magnifier/
/lib/web/modernizr/
/lib/web/prototype/
/lib/web/requirejs/
/lib/web/scriptaculous/
/lib/web/tiny_mce/
/lib/web/varien/
/lib/web/blank.html
/lib/web/es6-collections.js
/lib/web/FormData.js
/lib/web/jquery.js
/lib/web/legacy-build.min.js
/lib/web/matchMedia.js
/lib/web/moment.js
/lib/web/moment-timezone-with-data.js
/lib/web/MutationObserver.js
/lib/web/spacer.gif
/lib/web/underscore.js
/lib/.htaccess

/phpserver/
/pub/errors/
/pub/media/
/pub/opt/
/pub/static/
/pub/.htaccess
/pub/.user.ini
/pub/cron.php
/pub/get.php
/pub/health_check.php
/pub/index.php
/pub/static.php

/setup/
/update/
/var/
/vendor/


/.htaccess
/.htaccess.sample
/.php_cs
/.php_cs.dist
/.travis.yml
/.user.ini
/auth.json.sample
/CHANGELOG.md
/composer.json
/composer.lock
/CONTRIBUTING.md
/CONTRIBUTOR_LICENSE_AGREEMENT.html
/COPYING.txt
/grunt-config.json.sample
/Gruntfile.js
/Gruntfile.js.sample
/index.php
/ISSUE_TEMPLATE.md
/LICENSE.txt
/LICENSE_AFL.txt
/nginx.conf.sample
/package.json
/package.json.sample
/php.ini.sample
/PULL_REQUEST_TEMPLATE.md
/README.md