<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="department_listing_data_source" xsi:type="string">Tech\TaskTracking\Model\ResourceModel\Department\Grid\Collection</item>
				<item name="status_listing_data_source" xsi:type="string">Tech\TaskTracking\Model\ResourceModel\Status\Grid\Collection</item>
				<item name="priority_listing_data_source" xsi:type="string">Tech\TaskTracking\Model\ResourceModel\Priority\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>