<?xml version="1.0"?>
<!--
	/**
	 * Tech TaskTracking module registration file
	 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
	<module name="Tech_TaskTracking" setup_version="0.0.5">
		<sequence>
			<module name="Magento_Store" />
			<module name="Magento_Theme" />
		</sequence>
	</module>
</config>